/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #151515;
  font-size: 16px;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

a {
  color: #ffffff;
  transition: filter 0.2s ease-in;
}
a:hover {
  filter: saturate(1.5);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1230px;
}

.none {
  display: none !important;
}

.btn__lease-cars {
  position: relative;
  display: inline-block;
  font-size: 16px;
  max-width: 430px;
  padding: 13px 61px;
  transition: background-color 0.2s ease-in;
  text-transform: uppercase;
  background-color: #151515;
}
.btn__lease-cars:hover,
.btn__lease-cars :focus {
  background-color: #0066ff;
}
.btn__lease-cars:active {
  top: 1px;
  filter: saturate(1.5);
}
.btn__lease-cars--accent {
  font-size: 36px;
}
@media screen and (max-width: 904px) {
  .btn__lease-cars--accent {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  .btn__lease-cars--accent {
    font-size: 28px;
  }
}
.btn__lease-cars--small {
  max-width: 223px;
}
@media screen and (max-width: 904px) {
  .btn__lease-cars {
    padding: 13px 48px;
  }
}

.title {
  font-weight: 700;
  font-size: 48px;
}
@media screen and (max-width: 904px) {
  .title {
    font-size: 42px;
  }
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 38px;
  }
}
@media screen and (max-width: 375px) {
  .title {
    font-size: 34px;
  }
}
@media screen and (max-width: 320px) {
  .title {
    font-size: 30px;
  }
}
.title--h3 {
  font-size: 24px;
}
@media screen and (max-width: 425px) {
  .title--h3 {
    font-size: 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  position: relative;
  background-color: #151515;
}
.header--main {
  padding-bottom: 150px;
  background-color: transparent;
}
@media screen and (max-width: 904px) {
  .header--main {
    padding-bottom: 75px;
  }
}
.header--main .header__top {
  position: absolute;
  z-index: 9;
  right: 0;
  left: 0;
}
.header--main .header__main {
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  padding-top: 247px;
}

.header__top {
  padding: 40px 0px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 904px) {
  .header__row {
    align-items: center;
  }
}

.header__main {
  text-align: center;
}

.header__title {
  font-size: 96px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 50px;
}
@media screen and (max-width: 904px) {
  .header__title {
    font-size: 56px;
  }
}

.menu--mobile {
  position: fixed;
  z-index: 9;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #151515;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  row-gap: 60px;
  font-size: 22px;
  opacity: 0.97;
}
.menu--mobile .menu__list {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.menu--mobile .nav__toggle {
  position: fixed;
  top: 55px;
  right: 13px;
}

.menu__list {
  display: flex;
  gap: 35px;
}
@media screen and (max-width: 904px) {
  .menu__list {
    display: none;
  }
}

.menu__list-item--active a {
  font-weight: 700;
  color: #0066ff;
}

.nav__toggle {
  display: none;
}
@media screen and (max-width: 904px) {
  .nav__toggle {
    display: block;
  }
}

.footer {
  padding: 50px 0px 15px 0px;
  background-color: #151515;
  color: #ffffff;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}
@media screen and (max-width: 904px) {
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.footer__menu-list {
  max-width: 225px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__menu-title {
  margin-bottom: 20px;
}

.footer__apps {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.footer__text p {
  font-size: 12px;
  text-align: center;
  max-width: 806px;
}

.footer__privacy-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer__privacy-item {
  text-align: center;
  font-size: 14px;
}

.main {
  flex-grow: 1;
}

.swiper::after {
  content: "";
  background: rgba(21, 21, 21, 0.3);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
}
@media screen and (max-width: 904px) {
  .swiper-pagination-bullet {
    width: 100px;
    height: 2px;
  }
}
@media screen and (max-width: 470px) {
  .swiper-pagination-bullet {
    width: 80px;
    height: 2px;
  }
}
@media screen and (max-width: 425px) {
  .swiper-pagination-bullet {
    width: 70px;
    height: 2px;
  }
}
@media screen and (max-width: 375px) {
  .swiper-pagination-bullet {
    width: 60px;
    height: 2px;
  }
}
.swiper-pagination-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-horizontal .swiper-pagination-bullets,
.swiper-horizontal .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #ffffff;
}
@media screen and (max-width: 904px) {
  .swiper-pagination-bullet-active {
    height: 4px;
  }
}

.benefits {
  padding-bottom: 150px;
}
@media screen and (max-width: 904px) {
  .benefits {
    padding-bottom: 75px;
  }
}

.benefits__title {
  text-align: center;
  margin-bottom: 50px;
}

.benefits__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media screen and (max-width: 904px) {
  .benefits__row {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    place-items: center;
    gap: 30px;
  }
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
}

.benefits__item-image {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
@media screen and (max-width: 375px) {
  .benefits__item-image {
    width: 100px;
    height: 100px;
  }
}

.benefits__item-title {
  margin-bottom: 30px;
}

.benefits__item-text {
  line-height: 130%;
}
@media screen and (max-width: 425px) {
  .benefits__item-text {
    font-size: 14px;
  }
}

.leasing {
  padding-bottom: 150px;
}
@media screen and (max-width: 904px) {
  .leasing {
    padding-bottom: 40px;
  }
}

.leasing__wrapper {
  max-width: 594px;
  margin: 0 auto;
}

.leasing__title {
  text-align: center;
  margin-bottom: 50px;
}

.leasing__text {
  line-height: 130%;
  margin-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .leasing__text {
    font-size: 14px;
  }
}

.lasing__rules-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}

.leasing__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 70px;
}

.leasing__rule {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}
@media screen and (max-width: 904px) {
  .leasing__rule {
    gap: 100px;
  }
}
@media screen and (max-width: 425px) {
  .leasing__rule {
    gap: 40px;
  }
}
@media screen and (max-width: 375px) {
  .leasing__rule {
    gap: 20px;
  }
}

.leasing__rule-number {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  font-size: 48px;
  font-weight: 700;
  background-color: #0066ff;
  color: #ffffff;
}
@media screen and (max-width: 425px) {
  .leasing__rule-number {
    font-size: 32px;
    max-width: 60px;
    width: 100%;
    height: 60px;
  }
}
@media screen and (max-width: 300px) {
  .leasing__rule-number {
    font-size: 20px;
    max-width: 40px;
    width: 100%;
    height: 40px;
  }
}

.leasing__rule-text {
  line-height: 130%;
}
@media screen and (max-width: 425px) {
  .leasing__rule-text {
    font-size: 14px;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
@media screen and (max-width: 904px) {
  .video {
    padding-bottom: 75px;
  }
}

.video__title {
  text-align: center;
  margin-bottom: 20px;
}
.video__title--h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}

.video__link {
  max-width: 1000px;
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.5);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.2);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
.video__icon:hover {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.significance {
  padding-bottom: 150px;
}
@media screen and (max-width: 904px) {
  .significance {
    padding-bottom: 75px;
  }
}

.significance__title {
  text-align: center;
  margin-bottom: 20px;
}

.significance__text {
  margin: 0 auto;
  max-width: 580px;
  margin-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .significance__text {
    font-size: 14px;
  }
}

.significance__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media screen and (max-width: 904px) {
  .significance__row {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.significance__item {
  display: flex;
  flex-direction: column;
}

.significance__item-img {
  margin-bottom: 20px;
}

.significance__item-text {
  line-height: 130%;
}
@media screen and (max-width: 425px) {
  .significance__item-text {
    font-size: 14px;
  }
}

.car-card {
  max-width: 270px;
  border: 1px solid #0066ff;
}

.car-card__img {
  margin-bottom: 20px;
  max-height: 170px;
}

.car-card__title {
  margin-bottom: 20px;
}

.car-card__text {
  line-height: 130%;
  margin-bottom: 20px;
}

.car-card__price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}

.car-card__details {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #0066ff;
  width: 100%;
  border-top: 1px solid #0066ff;
  transition: all 0.2s ease-in;
}
.car-card__details:hover,
.car-card__details :focus {
  background-color: #0066ff;
  color: #ffffff;
}
.car-card__details:active {
  top: 1px;
  filter: saturate(1.5);
}

.cars {
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
}

.cars__title {
  text-align: center;
  margin-bottom: 50px;
}

.cars__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  gap: 80px;
  margin-bottom: 100px;
}

.cars__list-btn {
  font-size: 24px;
  font-weight: 700;
  color: #151515;
}
.cars__list-btn--active {
  color: #0066ff;
}

.cars__content-item {
  display: none;
}
.cars__content-item--active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
  margin-bottom: 70px;
}

.contacts {
  padding-top: 100px;
  padding-bottom: 150px;
}
@media screen and (max-width: 904px) {
  .contacts {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.contacts__title {
  text-align: center;
  margin-bottom: 20px;
}

.contacts__text {
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
}

.contacts__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 40px;
  margin: 0 auto;
  max-width: 580px;
}
@media screen and (max-width: 593px) {
  .contacts__form {
    justify-content: center;
  }
}

.contacts__form-input {
  padding: 18px 20px;
  border: 1px solid #0066ff;
}
@media screen and (max-width: 593px) {
  .contacts__form-input {
    width: 100%;
  }
}

.contacts__form-textarea {
  resize: none;
  padding: 28px 20px;
  min-height: 291px;
  width: 100%;
  border: 1px solid #0066ff;
}

.contacts__form-btn {
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
}

.news-card {
  max-width: 580px;
}

.news-card__img {
  margin-bottom: 30px;
}

.news-card__row {
  display: flex;
  justify-content: space-between;
}

.new-card__title {
  max-width: 446px;
}

.bews-card__btn {
  position: relative;
  padding: 4px 21px;
  max-height: 30px;
  transition: background-color 0.2s ease-in;
  background-color: #0066ff;
}
.bews-card__btn:hover,
.bews-card__btn :focus {
  filter: saturate(1.5);
}
.bews-card__btn:active {
  top: 1px;
}

.news {
  padding-bottom: 150px;
  text-align: center;
}
@media screen and (max-width: 904px) {
  .news {
    padding-bottom: 75px;
  }
}

.news__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-bottom: 70px;
}
@media screen and (max-width: 904px) {
  .news__content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 30px;
  }
}

.menu-icon-wrapper {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
  top: calc(var(--line-height) * -2);
}

.menu-icon::after {
  top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
  background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
  transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
  transform: rotate(-45deg);
}/*# sourceMappingURL=main.css.map */