@import "./news-card";

.news {
  padding-bottom: 150px;
  text-align: center;

  @include mediaTablet {
    padding-bottom: 75px;
  }
}

.news__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-bottom: 70px;

  @include mediaTablet {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 30px;
  }
}
