.significance {
  padding-bottom: 150px;

  @include mediaTablet {
    padding-bottom: 75px;
  }
}

.significance__title {
  text-align: center;
  margin-bottom: 20px;
}

.significance__text {
  margin: 0 auto;
  max-width: 580px;
  margin-bottom: 50px;

  @include mediaPhoneLG {
    font-size: 14px;
  }
}

.significance__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  @include mediaTablet {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.significance__item {
  display: flex;
  flex-direction: column;
}

.significance__item-img {
  margin-bottom: 20px;
}

.significance__item-text {
  line-height: 130%;

  @include mediaPhoneLG {
    font-size: 14px;
  }
}
