.swiper {
  &::after {
    content: "";
    background: rgba($black, 0.3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.swiper-wrapper {
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: $black;
  border-radius: 0;
  opacity: 1;
  bottom: 50px;
}

.swiper-pagination-horizontal {
  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 15px;
    }
  }
}

.swiper-horizontal {
  .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 50px;
  }
}
.swiper-pagination-bullet-active {
  height: 6px;
  background-color: $white;
}
