// Container
$container-width: 1200px;
$container-padding: 15px;

// Fonts
$font-main: "Inter", sans-serif;

// Colors
$white: #ffffff;
$blue: #0066ff;
$black: #151515;
$light-gray: #e8e8e8;

// Media
$tablet: 904px;
$phoneLG: 425px;
$phoneMD: 375px;
$phoneSM: 320px;
$phoneXS: 300px;
